doctype html
html
  head
    title= ISM
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/material-kit.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mies.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mar.css">
  body
    //cabezera
    div#index-banner.parallax-container.header-filter
        div.section.no-pad-bot
            div.container
                br
                br
                h1.header.center.teal-text.text-center 
                    i.fa.fa-mortar-board 
                    x LEANDRO ALVIÑA MIRANDA
                div.row.text-center
                    h5.header.col.s12.ight.texto4 Instituto Superior de Música Público
      //  div.parallax
            img(src="/images/a2.jpg" ,alt="Unsplashed background img 1")
    

    //Modal Profesores
    div#myModal3.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.close.hio(data-dismiss="modal" aria-hidden="true")
            a.jaja
                i.fa.fa-arrow-left
        div.modal-dialog
            div.modal-content
                div.modal-header
                    div.text-center
                        h4.texto4 PROFESORES
                div.modal-body
                    div.row.active-with-click
                        div.col-sm-6.col-xs-6
                            article.material-card.Teal
                                h2#mama
                                    span Christopher Walken
                                    strong
                                        i.fa.fa-fw.fa-star The Deer Hunter
                                div.mc-content
                                    div.img-container
                                        img.img-responsive(src="/images/12.jpg")
                                    div.mc-description He has appeared in more than 100 films and television shows
                                a.mc-btn-action
                                    i.fa.fa-bars
                                div.mc-footer
                                    h4 Social
                                    a.fa.fa-fw.fa-facebook
                                    a.fa.fa-fw.fa-twitter
                                    a.fa.fa-fw.fa-google-plus

                        div.col-sm-6.col-xs-6
                            article.material-card.Purple
                                h2#mama
                                    span Morgan Freeman
                                    strong
                                        i.fa.fa-fw.fa-star Glory
                                div.mc-content
                                    div.img-container
                                        img.img-responsive(src="/images/12.jpg")
                                    div.mc-description Freeman has received Academy Award nominations for his performances in Street Smart
                                a.mc-btn-action
                                    i.fa.fa-bars
                                div.mc-footer
                                    h4 Social
                                    a.fa.fa-fw.fa-facebook
                                    a.fa.fa-fw.fa-twitter
                                    a.fa.fa-fw.fa-google-plus 
                        div.col-sm-6.col-xs-6
                            article.material-card.Purple
                                h2#mama
                                    span Morgan Freeman
                                    strong
                                        i.fa.fa-fw.fa-star Glory
                                div.mc-content
                                    div.img-container
                                        img.img-responsive(src="/images/12.jpg")
                                    div.mc-description Freeman has received Academy Award nominations for his performances in Street Smart
                                a.mc-btn-action
                                    i.fa.fa-bars
                                div.mc-footer
                                    h4 Social
                                    a.fa.fa-fw.fa-facebook
                                    a.fa.fa-fw.fa-twitter
                                    a.fa.fa-fw.fa-google-plus 
                        div.col-sm-6.col-xs-6
                            article.material-card.Purple
                                h2#mama
                                    span Morgan Freeman
                                    strong
                                        i.fa.fa-fw.fa-star Glory
                                div.mc-content
                                    div.img-container
                                        img.img-responsive(src="/images/12.jpg")
                                    div.mc-description Freeman has received Academy Award nominations for his performances in Street Smart
                                a.mc-btn-action
                                    i.fa.fa-bars
                                div.mc-footer
                                    h4 Social
                                    a.fa.fa-fw.fa-facebook
                                    a.fa.fa-fw.fa-twitter
                                    a.fa.fa-fw.fa-google-plus  

                div.modal-footer
                    button.btn.btn-info.btn-simple(type="button" data-dismiss="modal") Close

    //Modal Admisión
    div#myModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Modal title
                div.modal-body
                div.modal-footer
                    button.btn.btn-info.btn-simple(type="button" data-dismiss="modal") Close
    //Modal Arte
    div#myModal7.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title.h4 Carrera Profesional de Educación Artística
                div.modal-body
                div.modal-footer
                    button.btn.btn-info.btn-simple(type="button" data-dismiss="modal") Close

    //Modal Música
    div#myModal8.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Carrera Profesional de Artista Musical
                div.modal-body
                div.modal-footer
                    button.btn.btn-info.btn-simple(type="button" data-dismiss="modal") Close

    //Modal Talleres
    div#myModal9.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Talleres
                div.modal-body
                div.modal-footer
                    button.btn.btn-info.btn-simple(type="button" data-dismiss="modal") Close

    //Modal admi1
    div#myModal10.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Postulante Regular
                div.modal-body
                div.modal-footer
                    button.btn.btn-info.btn-simple(type="button" data-dismiss="modal") Close

    //Modal Admi2
    div#myModal11.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Postulante Exonerado
                div.modal-body
                div.modal-footer
                    button.btn.btn-info.btn-simple(type="button" data-dismiss="modal") Close
    
    div.main.main-raised
        div.container
            div.row
                div.col-md-12
                    div.card2.card2-stats.card-raised
                        div.card2-image(data-background-color="orange" style="margin-top: -44px")
                            ul.nav.nav-tabs.nav-tabs2
                                li.active.col-md-3.text-center
                                    a(href="#pill1" data-toggle="tab")
                                        i.material-icons markunread_mailbox 
                                        x Institución
                                li.col-md-3.text-center
                                    a(href="#pill2" data-toggle="tab")
                                        i.material-icons face  
                                        x Visión y Misión
                                li.col-md-3.text-center
                                    a(href="#pill3" data-toggle="tab")
                                        i.material-icons history 
                                        x Historia
                                li.col-md-3.text-center
                                    a(href="#pill4" data-toggle="tab")
                                        i.material-icons music_note 
                                        x Música

                        -if(cabeza.length > 0)
                        div.tab-content.tab-space
                            div#pill1.tab-pane.active
                                div#justy.card2-content #{cabeza[0].insti} 
                            div#pill2.tab-pane
                                div#justy.card2-content #{cabeza[0].visi} 
                            div#pill3.tab-pane
                                div#justy.card2-content #{cabeza[0].misi} 
                            div#pill4.tab-pane
                                div#justy.card2-content #{cabeza[0].histo} 
                        div.card2-footer
                            h3.title.text-right
                                        a.fa.fa-fw.fa-facebook(href="" data-toggle="tooltip" title='ooray')
                                        a.fa.fa-fw.fa-twitter(href="" data-toggle="tooltip" title="Hooray")
                                        a.fa.fa-fw.fa-google-plus(href="" data-toggle="tooltip" title="Hooray")

            h5.header.col.s12.light.texto4.bajo
                i.material-icons group_work
                x Estudia con Nosotros
            div#uno.section
                div.row
                    div.col-md-4.col-sm-3.col-xs-6
                        div.card2
                            div.card2-image.waves-effect.waves-block.waves-teal(data-toggle="modal" data-target="#myModal7")
                                div.card2-title CARRERA PROFESIONAL DE EDUCACIÓN ARTÍSTICA
                                img(src="/images/ar.jpg")
                            div.card2-content
                                div Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            div.card2-footer
                                div.stats
                                    i.fa.fa-paint-brush(aria-hidden="true") 
                                    x 10 SEMESTRES

                    div.col-md-4.col-xs-6
                        div.card2
                            div.card2-image.waves-effect.waves-block.waves-teal(data-toggle="modal" data-target="#myModal3")
                                div.card2-title 
                                    div#hol CARRERA PROFESIONAL DE ARTISTA MUSICAL
                                img(src="/images/score2.png")
                            div.card2-content
                                div Ven con nosotros y se un profesional de la música y el arte. 
                            div.card2-footer
                                div.stats
                                    i.material-icons music_note 
                                    x 10 SEMESTRES
                    div.col-md-4.col-xs-12
                        div.card2.card-background(style="background-image: url('/images/5.jpg')")
                            div.content
                                h6.category.text-info Talleres Libres
                                h3.card-title 
                                    i.fa.fa-music(aria-hidden="true") 
                                    br 
                                    x Para Niños  Adultos
                                    br
                                    i.material-icons music_note
                                p.card-description Si eres niño o adulto, ven con nosotros y empieza a cultvar el arte de la música.
                                a.btn.btn-primar(data-toggle="modal" data-target="#myModal9" style="background: #E91E63;")
                                    i.material-icons eject 
                                    x Leer Más
            h5.header.col.s12.light.texto4.bajo.text-center(style="border-bottom: 4px solid #009688; color: #004D40;")
                i.material-icons extension
                x Admisión  

        div.team-5.section-image(style="background-image: url('/images/f2.png')")
            div.container
                div.row
                    div.col-md-6.col-xs-6
                        div.card.card-profile.card-plain
                            div.col-md-7
                                div.card-image(data-toggle="modal" data-target="#myModal10")
                                    a
                                        img.img(src="/images/5.jpg")
                            div.col-md-5
                                div.content
                                    h4.card-title POSTULANTE REGULAR
                                    h6.category.text-muted Author of the Month
                                    p.card-description Don't be scared of the truth because we need to restart the human foundation in truth...
                    div.col-md-6.col-xs-6
                        div.card.card-profile.card-plain
                            div.col-md-7
                                div.card-image(data-toggle="modal" data-target="#myModal11")
                                    a
                                        img.img(src="/images/2.jpg")
                            div.col-md-5
                                div.content
                                    h4.card-title POSTULANTE CON DERECHO DE EXONERACION
                                    h6.category.text-muted Author of the Week
                                    p.card-description Don't be scared of the truth because we need to restart the human foundation in truth...   
        div.subscribe-line
            div.container
                div.row
                    div.col-md-12

    //pie de página 
    footer.footer
        div.container
            a.footer-brand ISMP
            ul.pull-center
                li
                    a(href="#pablo" data-toggle="modal" data-target="#myModal1")
                        i.material-icons email
                        x Contáctanos
            ul.social-buttons.pull-right
                li
                    a(href="" target="_blank" class="btn btn-just-icon btn-twitter btn-simple")
                        i.fa.fa-youtube-square
                li
                    a(href="" target="_blank" class="btn btn-just-icon btn-facebook btn-simple")
                        i.fa.fa-facebook-square
                li
                    a(href="" target="_blank" class="btn btn-just-icon btn-google btn-simple")
                        i.fa.fa-google

    //Contacto
    div#myModal1.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog
            div.close.hio(data-dismiss="modal" aria-hidden="true")
                a.jaja.oscuro
                    i.fa.fa-arrow-left
            div.modal-content
                div.modal-body
                    div.row
                        div.col-sm-12.col-sm-offset-0
                            form.form(name="registration" method="post" action="")
                                div.text-center
                                    h4.texto4 CONTÁCTENOS
                                div.content
                                    div.col-sm-6
                                        div.form-group.label-floating
                                            label.control-label Nombre Completo
                                            input.form-control.otroc(type="email")
                                    div.col-sm-6
                                        div.form-group.label-floating
                                            label.control-label Asunto
                                            input.form-control.otroc(type="email")
                                    div.col-sm-12
                                        div.form-group.label-floating
                                            label.control-label Correo
                                            input.form-control.otroc(type="email")
                                    br
                                    br
                                    div.col-sm-12
                                        textarea.form-control.otroc(placeholder="Escriba su mensaje" rows="5")
                                    br
                                    br
                                div.footer.text-center
                                    input.btn.oscuro(type="submit" name="submit" value="ENVIAR")

        block content
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/material.min.js" type="text/javascript"></script>
    <script src="/javascripts/material-kit.js" type="text/javascript"></script>
    <script src="/javascripts/materialize.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/corr.js"></script>
    <script src="/javascripts/para.js" type="text/javascript"></script>